body{
    padding: 0;
    background-image:url("kelly-sikkema-6aY-6B3MiZ4-unsplash.jpg") ;
    background-size:cover ;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Song Myung', serif;
   
    
}
.hidden{
    display: none;
}

.temp{margin-top:7px;}
h1{
    color: white;
    margin:7px;
}
.container{
    width: 35%;
    
    
    background-color:rgba(30, 29, 34, 0.497);
    padding: 10px;
    border-radius: 10px;
    }



fieldset{margin:7px;

border:2px solid #8d8d8d;
border-radius: 10px;}
.list{
    color: white;
    font-family: 'Song Myung', serif;
    
    
}




/* CSS */
.button-32 {
  background-color: #a97272;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  padding: 4px 5px;
  text-align: center;
  transition: 200ms;
  /* width: 100%; */
  box-sizing: border-box;
  border: 0;
  font-size: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 7px;
}
.deleteButton{
    background-color: #a97272;
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    padding: 4px 5px;
    text-align: center;
    transition: 200ms;
    /* width: 100%; */
    box-sizing: border-box;
    border: 0;
    font-size: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 8px 0px 0px 0px;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: #a97272;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
legend{
    color: white;
}
/* .listMargins,.temp{
    border: 2px solid #fff000;
} */
input{
    border-radius: 5px;
    background-color: #8d8d8d;
    color: #ffffff;
}

